body {
    margin: 0;
    padding: 0;
    *height: 100vh;
}

header {
    background: #212121;
    *height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.title-sushi {
    color: #673AB7;
    font-family: 'arista_pro_alternatefat';
    font-size: 22px;
}

.title-podcast {
    font-family: 'arista_pro_alternatefat';
    color: #FFFFFF;
    font-size: 22px;

}


nav {
    *background: cornflowerblue;
    width: 400px;
    *height: 40px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}



section {
    *background: lightgoldenrodyellow;
    background: url(../images/japan_background.jpg) center center fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    *height: 60vh;
    margin: 0 auto;
}

.logo {
    height: 1.7rem;
    margin: 10px;
}

.info-page {
    /*background: red;*/
    display: flex;
    flex-wrap: wrap;   
    align-items: center; 
    text-align: center;
    margin: 0  auto;
}

.info-text h2 {
    font-family: 'Rubik', serif;
    color: #212121;

}

.info-text p {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;

}

.card {
    background: #D1C4E9;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /*margin: 0 auto;*/
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
}

.card-img {
    /*background: blue;*/
    width: 100%;
    height: 140px;
}

.card-img-fondo {
    width: 100%;
    height: 140px;
    border-radius: 5px;

}

.card-text  {
    *background: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.card-text h5 {
    text-align: center;
    font-size: 1rem;
    margin: 15px;
    font-family: 'Rubik', serif;
    color: #212121;

}

.card-text p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #212121;

}

.second-data-podcast {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;

}

.card-reproductor {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

/*---------------------- section our episodes ------------------------*/
.contedor-our-episodes {
    background: white;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.tittle-our-episodes {
    text-align:  center;
    margin-left: auto;
    margin-right: auto;
}

.tittle-our-episodes h5 {
    font-family: 'Rubik', serif;
    font-size: 25px;
    margin: 15px
}

/*---------------------- Section Episodes -------------------------------*/

.contenedor-episodes {
    *background: burlywood;
    background: white;
}

/*---------------------- Section Contact --------------------------------*/

.contact {
    /*background: purple;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
    height: 300px;
    display: flex;
    flex-wrap: wrap;   
    align-items: center; 
    text-align: center;
    margin: 0  auto;
    background: #212121;
    
}

.formu-text {
    *background: brown;
    width: 50%;
    color: #FFFFFF;
    height: 90%;
}

.formu-text h3 {
    *background: seagreen;
    display: flex;
    *text-align: center;
    margin-left: 20px;
    padding-top: 20px;
    align-items: flex-start;
    font-size: 25px;
}

.formu-contacto {
    *background: greenyellow;
    width: 50%;
    height: 90%;
    justify-content: center;
    margin: auto;
    padding-top: 25px;
}

.formu-contacto label {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

button {
    background: #673AB7;
    font-size: 25px;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}





/*------------------------ footer ---------------------------------------*/
footer {
    text-align: center;
    background: #757575;
    position: absolute;
    width: 100%;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}






