body {
    margin: 0 auto;
    height: 100vh;
}

header {
    background: #212121;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    *background: salmon;
}

nav ul li a {
    color: #FFFFFF;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;

}

/*################## CLASES ###########################*/

.logo {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    *background: red;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;

}

/*-------------- Section Hero ------------------*/
.contenedor-hero {
    *background: pink;
    background: url(/images/1472096754836.jpg);
    background-size: cover;
    min-height: 50vh;
    display: flex;
    flex-direction: row-reverse;
}

.hero-title {
    *background: red;
    max-width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title h2 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    font-style: italic;
    font-family: 'Merriweather Sans', sans-serif;
}


/*---------------- Section Biografia ------------------------------*/
.contenedor-biografia {
    background:#212121;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;

}

.biografia-text {
    *background: greenyellow;
    max-width: 60%;
    margin: 0 auto;
    padding: 0px;
    
}

.biografia-text h2 {
    margin: 10px;
    padding-top: 10px;
    font-size: 2.5em;
    color: #FFFFFF;
    font-family: 'Merriweather Sans', sans-serif;
}

.biografia-text p {
    font-size: 1rem;
    margin: 10px;
    text-align:justify ;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Merriweather Sans', sans-serif;
    padding-bottom: 10px;
}

.biografia-photo-contenedor {
    *background: rgb(211, 81, 124);
    *margin: 0 auto;
}

.biografia-photos img {
    margin: 20px;
    width: 50vh;
    *height: 50vh;
    border-radius: 10px;
    *box-shadow: 2px 2px 4px #999;
}

/*---------------- Section Intro Equipos ---------------------------------*/


.intro-equipos h5 {
    color: #212121;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 15px;
    padding-top: 25px;
}

.intro-equipos p {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

/*---------- Section Equipos -----------------*/
.contenedor-equipos {
    background: #FFFFFF;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.circular--square {
    border-radius: 50%;
    width: 200px;
    opacity: 0.8;
    box-shadow:20px 20px 30px rgb(189, 189, 189);
}

.foto-equipos {
    margin: 10px;
    text-align: center;
}

.foto-equipos h5 {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 10px;
    font-size: 20px;
}

.foto-equipos p {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    font-size: 15px;
}



/*---------------- Section intro de Videos -------------------------*/

.contenedor-intro-videos {
    *background: #FFFFFF;
    background: gold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.contenedor-intro-videos h5 {
    color: #212121;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 15px;
    padding-top: 25px;
}

.contenedor-intro-videos p {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 15px;
    padding: 10px;
}



/*----------------- Section Videos ---------------------------------*/
.contenedor-videos {
    background: gold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #313033;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*margin: 0 auto; */
    margin: 30px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
}

.card-img {
    /*background: blue;*/
    width: 100%;
}

.card-img-fondo {
    width: 100%;
    height: 140px;
    border-radius: 5px;
}

iframe {
    width: 100%;
}

/*----------------- Section Contacto --------------------------------*/
.contenedor-contacto {
    background: lightgreen;
    display: flex;
    flex-wrap: wrap;   
    align-items: center; 
    text-align: center;
    margin: 0  auto;
    background: #212121;
}

.formu-text {
    *background: brown;
    width: 50%;
    color: #FFFFFF;
    height: 100%;
}

.formu-text h3 {
    display: flex;
    margin-left: 20px;
    padding-top: 20px;
    align-items: flex-start;
    font-size: 1.5rem;
    font-family: 'Merriweather Sans', sans-serif;

}

.formu-contacto {
    width: 50%;
    height: 100%;
    justify-content: center;
    margin: auto;
    padding-top: 25px;
}

.formu-contacto label {
    color: #FFFFFF;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1rem;
}

button {
    background: #6a6081;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}


/*----------------- Footer -------------------------------------------*/
footer {
    background: #5a5959;
    width: 100%;
    position: absolute;
    text-align: center;
}

footer p {
    color: #FFFFFF;
    font-family: 'Merriweather Sans', sans-serif;
}



