* {
    font-family: sans-serif;
}

body {
    background: rgb(154,31,95);
    background: linear-gradient(0deg, rgba(154,31,95,1) 0%, rgba(11,172,135,1) 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
}

#contenedor-general {
    background: lavenderblush;
    margin: 30px;
    height: 90vh;
}

.btn-format {
    width:50px;
    height:50px;
    border-radius:100%;
    background:#F44336;
    right: 30px;
    bottom: 0;
    position: absolute;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
}

span{
    transition:.5s;  
}

.secciones {
    background: #FFF;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    background: #000;
    height: 50px;
    color: #FFF;
    display: flex;
    align-items: center;
}

header img {
    margin: 20px;
}

header h2 {
    font-family: sans-serif;
    font-weight: 600;
}

/*----------------- PantallaVacia -------------------*/
#pantallaVacia {
    display: flex;
}

@media (min-width: 767.98px) {
    #pantallaVacia {
        display: none;
    }
}



/*------------------ PantallaFormulario --------------*/
#pantallaFormulario {
    display: none;
    flex-direction: column;
}

@media (min-width: 767.98px) {
    #btnFlot {
        width:50px;
        height:50px;
        border-radius:100%;
        background:#F44336;
        right: 10px;
        bottom: 40px;
        position: absolute;
        margin-right:16px;
        margin-bottom:16px;
        border:none;
        outline:none;
        color:#FFF;
        font-size:36px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition:.3s;  
    }
    
    #headerLoco {
        display: none;
    }

    #contenedor-general {
        background: lavenderblush;
        margin: 20px;
        *width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
    }

    #pantallaFormulario {
        background: rgba(250, 215, 232, 0.664);
        width: 30%;
        height: 90vh;
        display: flex;
    }

    #pantallaFormulario form {
        margin: 20px;
    }

    #pantallaFormulario .btn-formulario {
        align-items: center;
        justify-content: center;
        background:#F44336;
        position: relative;
        left: 10px;
    }

    #btnFormularioCerrar {
        background: gold;
        display: none;
    }
}

.form-items {
    display: flex;
    flex-direction: column;
}


.form-items input, .form-items select {
    height: 20px;
}

.form-items input, .form-items select, .form-items textarea {
    margin: 10px;
    align-items: center;
    border-radius: 5px;
}

.form-items label {
    margin: 0;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.btn-cerrar {
    width:50px;
    height:50px;
    border-radius:100%;
    background:#F44336;
    right: 30px;
    top: 90px;
    position: absolute;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
}

#button-pantallaVaciaAdd {
    background:#F44336;
    color:#FFF;
    border-radius: 10%;
    width: 70px;
    height: 30px;
}

/*------------------ PantallaListado -----------------*/
#pantallaListado {
    display: none;
    flex-direction: row;
}

#contenedor-items {
    width: 100%;
    height: 90vh;
    overflow: auto;
}

#contenedor-items ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor-items img, #contenedor-items h3, #contenedor-items button {
    margin: 20px;
    text-align: center;
}

#contenedor-items img {
    border-radius: 20px;
    background: plum;
    height: 40px;
    
}

#contenedor-items button {
    background: #f44336ef;
    border-radius: 5px;
    color: #FFF;
    /*font-size: 15px;*/
    height: 30px;
}

/* Medias Listado*/
@media (min-width: 767.98px) {
    #contenedor-general {
        background: lavenderblush;
        margin: 20px;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
    }

    #pantallaListado {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #contenedor-items {
        background: lavenderblush;
        width: 100%;
    }

    

}
/********************************/



/*------------------- PantallaDetalles ----------------*/
#pantallaDetalles {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#detalles {
    *display: flex;
    flex-direction: column;
    align-items: center;
}

#detalles img {
    border-radius: 20px;
    background: plum;
    height: 40px;
}

@media (min-width: 767.98px) {
    
    #contenedor-general {
        background: lavenderblush;
        margin: 20px;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
    }

    #pantallaDetalles {
        display: none;
        width: 100%;
        justify-content: flex-end;

    }

    #detalles {
        background: lavenderblush;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
    }

    #btnFormularioCerrarDetalle {
        width:50px;
        height:50px;
        border-radius:100%;
        background:#F44336;
        right: 10px;
        top: 40px;
        position: absolute;
        margin-right:16px;
        margin-bottom:16px;
        border:none;
        outline:none;
        color:#FFF;
        font-size:25px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition:.3s;  
    }
}

